{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-ride="carousel" style="height: 700px;">

  <div class="carousel-inner" role="listbox" style="max-height: 700px;">
      {% for intance in latest %}
      {% if forloop.first  %}
    <div class="carousel-item active" style="max-height: 700px;">
      <img class="d-block w-100" src="{{ intance.image.url}}" data-src="holder.js/900x400?theme=social" alt="First slide" style="height: 700px;filter: brightness(50%);">
        <div class="carousel-caption  d-md-block">
        <a href="./article_detail/{{ intance.id }}" style="color: whitesmoke;"><h1>{{intance.title}}</h1></a>
            <p>{{ intance.auther }} | {{ intance.date }}</p>
        </div>
    </div>
      {% else %}
    <div class="carousel-item" style="max-height: 700px;">
      <img class="d-block w-100 " src="{{intance.image.url}}" data-src="holder.js/900x400?theme=industrial" alt="Second slide" style="height: 700px;filter: brightness(50%);">
           <div class="carousel-caption  d-md-block">
               <a href="./article_detail/{{ intance.id }}" style="color: whitesmoke;"><h1>{{intance.title}}</h1></a>
               <p>{{ intance.auther }} | {{ intance.date }}</p>
        </div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>







    {% if not object %}
        <h1 style="
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    ">BLOGS COMING SOON</h1>
    {% else %}
        <section class="main">
        <div style="display: flex;justify-content: space-around;flex-flow: wrap;flex-basis: 80%;">

    {% for intances in object %}
        <div class="card" style="width: 400px;max-height:600px;margin:20px auto;" data-aos="fade-right">
             <img class="card-img-top" src="{{intances.image.url}}" alt="Card image cap" style="height: 200px;" >
             <div class="card-body">
                 <h4 class="card-title">{{ intances.title }}</h4>
                 <h6 class="card-subtitle mb-2 text-muted">{{ intances.date }}</h6>
                 <p class="card-text">
                     {{ intances.article|truncatewords:7 }}
                 </p>
                 <h6 class="card-subtitle mb-2 text-muted"> Author : {{ intances.auther }}</h6>
                 <a href="./article_detail/{{ intances.id }}" class="btn btn-primary">View Details</a>


             </div>
        </div>
    {% endfor %}
         </div>
    {% endif %}
        <div class="card" style="flex-basis: 20%;height: fit-content">
            <h3 class="card-header">Popular Posts</h3>
            {% for intances in latest %}
            <div class="card-body">
                <h4 class="card-title">{{ intances.title }}</h4>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#!" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}